/**************************************************** GENERAL ************************************************/
*{ margin: 0; }
body{ font-family : verdana; font-size: 12px;background-color:grey ; }
a{ text-decoration: none; color: black; }
.conteneur{ margin: 0 auto; max-width: 1170px;  }
/**************************************************** HAUT ************************************************/
header { background: black; padding: 10px; text-align: center; }
header  span{ color: black; font-weight: bold; text-transform: uppercase; margin-right: 5%; }
header  nav{ display: inline; }
header  a{ color: white; text-decoration: none; padding: 5px 5px; }
header  nav  a:hover{ background: #04baf6; }
/**************************************************** MILIEU ************************************************/
section{ padding: 30px; min-height: 800px; }
/**************************************************** BAS ************************************************/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: 15%;
    width: 100%;
    font-family: "Open Sans";
    padding-top: 5px;
    color: #b34613;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 5px auto;
    line-height: 28px;
    font-size: 14px;
}
.réseaux{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}
.réseaux li{
    margin: 0 8px;
}
.réseaux a{
    text-decoration: none;
    color: #d58506;
}
.réseaux a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.réseaux a:hover i{
    color: #0485c0;
}

.footer-enbas{
    background: #000;
    width: 100%;
    height: 15%;
    padding: 10px 0;
    text-align: center;
}
.footer-enbas p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-enbas span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
/**************************************************** GENERAL ************************************************/
.erreur{ background: #ff0000; padding: 5px; margin: 5px; }
.validation{ background: #669933; padding: 5px; margin: 5px; }
.cadre{ border: 1px solid #c0c0c0; width: 30%;}
.cadre  h2{ background: #c0c0c0; margin: 0; text-align: center; font-size: 15px; padding: 5px; }
.cadre  p{ padding: 10px; }
.centre{text-align: center;}
/**************************************************** BOUTIQUE ************************************************/
.boutique-gauche{ float: left; width: 30%; background: #f2f2f2; min-height: 500px; margin-right: 10%; padding-top: 10px; text-align: center; }
.boutique-gauche  ul{ list-style: none; padding: 0; }
.boutique-gauche  ul  li  a{ display: block; padding: 10px; }
.boutique-gauche  ul  li  a:hover{ background: #04baf6; color: #fff; }
.boutique-droite{float: left; width: 60%; }
.boutique-produit{ float: right; width: 30%; text-align: center; padding: 5%; border-bottom: 1px solid #c0c0c0; }
.boutique-produit:hover{ background: #c0c0c0; }
/**************************************************** DIVERS ************************************************/
table{ border-collapse: collapse; text-align: center;}
table tr td{
text-align: center;
}
td, th{ padding: 5px; text-align: center;}
